* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.quote-box {
  border: 10px solid;
  border-color: #85C226 #F7C200 #4493A0 #EA4335;
  border-radius: 0px 30px 70px 20px;
  position: absolute;
  display: table;
  margin: auto;
  padding: 18px 18px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
}

.quote-text {
  text-align: center;
  height: auto;
  font-size: 25px;
}

.quote-author {
  margin: 25px 10px;
  text-align: center;
  height: auto;
}

.buttons {
  position: relative;
}

#button-quote {
  color: white;
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: #2bbbad;
  border: 2px solid;
  border-color: #2bbbad #2bbbad #1d8e83 #2bbbad;
  border-width: 1px 1px 3px 1px;
  border-radius: 4px;
  font-size: 12px;
}

#button-quote:active {
  border-color: #5b918b #1d8e83 #2bbbad #1d8e83;
  border-width: 2px 1px 1px 1px;
}

.icon-twitter {
  padding: 3px 10px;
  font-size: 25px;
  color: #1da1f2;
  float: right;
}

.icon-twitter:active {
  color: #63c3ff;
}
